body {
  background: #ffffff;
  margin: 0
}

.form {
  width: 340px;
  height: 600px;
  background: #fffffe;
  border-radius: 8px;
  box-shadow: 0 0 40px -10px #000;
  margin: calc(50vh - 220px) auto;
  padding: 20px 30px;
  max-width: calc(100vw - 40px);
  box-sizing: border-box;
  font-family:'Lato', Arial, sans-serif;
  position: relative
}

h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  width: 180px;
  color: #000000;
  border-bottom: 3px solid #78788c
}

input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none;
  resize: none;
  border: 0;
  font-family:'Lato', Arial, sans-serif;
  transition: all .3s;
  border-bottom: 2px solid #000000
}



.label {
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  color: #000000
}

button {
  float: right;
  padding: 5px 12px;
  margin: 8px 0 0;
  font-family:'Lato', Arial, sans-serif;
  border: 2px solid #000000;
  background: 0;
  color: #000000;
  cursor: pointer;
  transition: all .3s
}

button:hover {
  background: #000000;
  color: #fff
}

.button {
  float: right;
  padding: 5px 12px;
  margin: 8px 0 0;
  font-family:'Lato', Arial, sans-serif;
  border: 2px solid #000000;
  background: 0;
  color: #000000;
  cursor: pointer;
  transition: all .3s
}

.button:hover {
  background: #000000;
  color: #fff
}

div {
  position: absolute;
  bottom: -15px;
  right: -20px;
  background: #f2ffab;
  color: #000;
  width: 320px;
  padding: 16px 4px 16px 0;
  border-radius: 6px;
  font-size: 13px;
  box-shadow: 10px 10px 40px -14px #000
  font-family:'Lato', Arial, sans-serif;
  margin-top: auto;
}

span {
  margin: 0 5px 0 15px


}






p {
  font-family:'Lato', Arial, sans-serif;
  color: #6d6d6d;
  font-size: 14px;
  line-height: 1.9;
}

.table_radius {
  font-family:'Lato', Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: block;
  vertical-align: middle;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  border: 2px solid #fff;
  border-radius: 2px;
}

.table_none {
  font-family:'Lato', Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  display: block;
  vertical-align: middle;
  font-weight: 400;
  -webkit-text-size-adjust: none;
  border: 2px solid #fff;
}

.nav-menu {
  font-family: Futura, Futura-Medium, 'Futura Medium', 'Century Gothic', CenturyGothic, 'Apple Gothic', AppleGothic, 'URW Gothic L', 'Avant Garde', sans-serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  text-decoration: none;
  color: #000000;
}

.nav-menu a {
  text-decoration: none;
  color: #000000;
}



table {
  border-collapse: collapse ;
}

body {
  height: 100% ;
  margin: 0 ;
  padding: 0 ;
  width: 100% ;
}



.hover-me-1 {
  transition: all 0.3s ease-in-out ;
}

/* Adds transition effect when viewd in browser */

.hover-me-1:hover {
  background-color: #f09f00 ;
  color: #ffffff ;
  font-size: 19px ;
}

/* Changes background color, text color, font size */

.em_blue a {
  color: #4285f4;
  text-decoration: none;
}

.em_gray a {
  color: #ff1044;
  text-decoration: none;
}

.em_gray2 a {
  color: #b1b1b1;
  text-decoration: none;
}

.em_wht a {
  color: #ffffff;
  text-decoration: none;
}

.em_footer a {
  color: #999999;
  text-decoration: none;
  font-family: 'Lato', Arial, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
}


.container {
  margin-top: 0;
  margin-bottom: 0;
}



.formvalidation {
  display: block;
  margin: 28px 0 0;
  font-size: 14px;
  font-weight:normal;
  color: #ff1044;
}
